        body {
            font-size: 10px;
            font-family: Arial, Helvetica, sans-serif
        }
        div{
            background: lightsalmon;
            margin: 10px
        }
        p{
            background: green;
        }
        #ostatni{
            padding: 100px;
        }
        .duzy{
            font-size: 30px
        }
        /* link zewnętrzny utworzony poprzez kliknięcie ctrl + link
        i utworzenie nowego pliku. Styl bardziej określony jest ważniejszy
        classa jest wazniejsza od body */